<ion-view view-title="Informations systèmes">
	<ion-content>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Modèle</span>
			<input type="text" disabled="true" value="{{model}}">
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Plateforme</span>
			<input type="text" disabled="true" value="{{platform}}">
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Cordova</span>
			<input type="text" disabled="true" value="{{cordova}}">
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">UUID</span>
			<input type="text" disabled="true" value="{{uuid}}">
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Version</span>
			<input type="text" disabled="true" value="{{version}}">
		</label>
	</ion-content>
</ion-view>